body {
    height: 150%;
	background-image: url(../images/bg1.jpg);
	background-size: 100%;
	color:white;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	margin: 2% 4%;
	letter-spacing: 0.5px;
}
h1 {
	border-bottom: solid 3px white;
	padding: 0 50px 10px 0;
	width: 230px;
	font-weight: 400;
	letter-spacing: 1.5px;
	margin-top: 100px;
}
a {
    color:white;
    text-decoration:none;
    font-size: 20px;
    letter-spacing: 1px;
} 
#logo {
	width: 200px;
	position: absolute;
	margin: 2% 4%;
	left: 0;
	top: 0;
}
#search {
	background: none;
	border: solid 2px white;
	padding: 5px;
	color:white;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 22px;
}
#lupe {
	width: 30px;
	margin: 0 10px;
}
.kort {
	width: 150px;
    margin-bottom: -4px;
}
#kort-wrapper {
	width: 600px;
    margin: 50px 0;
}
.dyr {
	width: 200px;
	margin: 0 2.2% 20px 0;
}
#dyr-wrapper {
    margin:;
}
#nav {
	text-align: right;
	text-transform: uppercase;
	margin-bottom: 50px;
    margin: 2% 4%;
}
li.active {
	border-bottom: solid 1px white;
}
.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    text-align: right;
}
.nav-collapse li{
    background: #162e1f;
    padding: 20px -20px;
    height: 40px;
    margin-bottom: 2px;
    width: 100%;
    display: block;
}
.nav-collapse li a:hover {
    border-bottom: solid 1px white;
}
.nav-collapse li a{
    color:white;
    text-decoration:none;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 10px;
}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
.nav-collapse.opened {
  max-height: 9999px;
}
.nav-collapse.opened li:hover {
    background-color: #275237;
}
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.nav-toggle:before{
    content:url(1457542043_menu-alt.svg);
}
@media screen and (min-width: 40em){
    .nav-collapse li{
        display:inline;
        background:0;
    }.nav-collapse li a:hover{
        border-bottom: solid 1px white;
    }
}
@media screen and (min-width: 40em) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}
#footer {
	text-align:left;
	color: white;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
#foot-info {
   background: rgba(22,46,31,0.5);
background: -moz-linear-gradient(left, rgba(22,46,31,0.5) 0%, rgba(22,46,31,1) 50%, rgba(22,46,31,0.5) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(22,46,31,0.5)), color-stop(50%, rgba(22,46,31,1)), color-stop(100%, rgba(22,46,31,0.5)));
background: -webkit-linear-gradient(left, rgba(22,46,31,0.5) 0%, rgba(22,46,31,1) 50%, rgba(22,46,31,0.5) 100%);
background: -o-linear-gradient(left, rgba(22,46,31,0.5) 0%, rgba(22,46,31,1) 50%, rgba(22,46,31,0.5) 100%);
background: -ms-linear-gradient(left, rgba(22,46,31,0.5) 0%, rgba(22,46,31,1) 50%, rgba(22,46,31,0.5) 100%);
background: linear-gradient(to right, rgba(22,46,31,0.5) 0%, rgba(22,46,31,1) 50%, rgba(22,46,31,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162e1f', endColorstr='#162e1f', GradientType=1 );
    padding: 20px 10%;
    height: 30px;
}
#foot-info a {
    font-size: 12px;
}
.social {
    width: 30px;
    margin-top: -10px;
}
#front-text {
	float: left;
	margin: 0 9%;
	width: 80%;
}